{% extends "public/templates/Bootstrap.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %}
{% if title %}
    Flask Page - {{ title }}
{% else %}
    Flask Page
{% endif %}
{% endblock title %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Sign up</h1>
            <hr>
            <form action="/signup" method="POST">
            
                {{ im.input(label='Username', name='username', placeholder='please enter your username') }}

                {{ im.input(label='Email', type='email', name='email', placeholder='please enter your email address') }}

                {{ im.input(label='Password', type='password', name='password', placeholder='please enter your password') }}

                <button type="submit" class="btn btn-primary">Sign up</button>
                
                {% if feedback %}
                <p class="text-danger float-right">{{ feedback }}</p>
                {% endif %}

            </form>
        </div>
    </div>
</div>

{% endblock main %}
